@model IEnumerable<DeansOffice.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h3>Courses</h3>

<form asp-action="Index" method="get">
    <div class="form-actions no-color mt-4">
        <p>
            <div class="d-flex">
                <div class="form-outline search-input">
                    <input type="text" class="form-control input" placeholder="Search by title or code"
                           name="SearchString" value="@ViewData["CurrentSearch"]" />
                </div>
                <button type="submit" value="Search" class="btn btn-outline-dark ml-2 mr-2">
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-outline-dark" asp-action="Index"> <i class="fa fa-sync-alt"></i> </a>
            </div>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-route-sortOrder="@ViewData["TitleSort"]">
                    @Html.DisplayNameFor(model => model.Title) <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@ViewData["CreditsSort"]">
                    @Html.DisplayNameFor(model => model.Credits) <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@ViewData["PriceSort"]">
                    @Html.DisplayNameFor(model => model.Price) <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@ViewData["CourseCodeSort"]">
                    @Html.DisplayNameFor(model => model.CourseCode) <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@ViewData["EnrolledStudentsSort"]">
                    Enrolled students <i class="fa fa-sort"></i>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollments.Count)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                <a class="btn btn-outline-info ml-2" asp-action="Details" asp-route-id="@item.CourseId">Details</a>
                <a class="btn btn-outline-danger ml-2" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-primary mt-4" asp-action="Create">Add Course</a>
</p>