@model DeansOffice.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h3>Student Details</h3>

<div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>                    
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.CourseId">
                                @Html.DisplayFor(modelItem => item.Course.Title)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
            <a class="btn btn-outline-primary float-sm-right" 
               asp-controller="Enrollments" asp-action="Create" asp-route-studentId="@Model.StudentId">Enroll</a>
        </dd>
    </dl>
</div>

<div class="mt-md-4">
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a>
    <a class="btn btn-primary ml-2" asp-action="Index">Back to List</a>
</div>
