@model DeansOffice.Helpers.PaginatedList<DeansOffice.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h3>Students</h3>

<form asp-action="Index" method="get">
    <div class="form-actions no-color mt-4">
        <p>
            <div class="d-flex">
                <div class="form-outline search-input">
                    <input type="text" class="form-control input" placeholder="Search student"
                           name="SearchString" value="@ViewData["CurrentSearch"]" />
                </div>
                <button type="submit" value="Search" class="btn btn-outline-dark ml-2 mr-2">
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-outline-dark" asp-action="Index"> <i class="fa fa-sync-alt"></i> </a>
            </div>
        </p>
    </div>
</form>

<p>Number of students found: @Model.TotalCount</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["FNameSortParam"]"
                   asp-route-searchString="@ViewData["CurrentSearch"]">
                    First name <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["LNameSortParam"]"
                   asp-route-searchString="@ViewData["CurrentSearch"]">
                    Last name <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["SNumberSortParam"]"
                   asp-route-searchString="@ViewData["CurrentSearch"]">
                    Student number <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["DateSortParam"]"
                   asp-route-searchString="@ViewData["CurrentSearch"]">
                    Enrollment date <i class="fa fa-sort"></i>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row"></th>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                    <a class="btn btn-outline-info ml-4" asp-action="Details" asp-route-id="@item.StudentId">Details</a>
                    <a class="btn btn-outline-danger ml-4" asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a class="btn btn-primary" asp-action="Create">Add Student</a>

<div class="float-sm-right">
    <a class="btn btn-outline-dark @prevDisabled mr-lg-2"
       asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-currentSearch="@ViewData["CurrentSearch"]"
       asp-route-pageNumber="@(Model.PageIndex-1)">
        <i class="fa fa-backward"></i>
    </a>
    <a class="btn btn-outline-dark @nextDisabled"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-currentSearch="@ViewData["CurrentSearch"]"
       asp-route-pageNumber="@(Model.PageIndex+1)">
        <i class="fa fa-forward"></i>
    </a>
</div>