@model Enrollment

@{
    ViewData["Title"] = "Enrollments";
}

<h1>Enrollments</h1>

<table class="table">
    <thead>
        <tr>
            <th>Student</th>
            <th>Index Number</th>
            <th>Subject</th>
            <th>Grade</th>
            <th>Instructor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enrollment in (IEnumerable<Enrollment>)ViewBag.Enrollments)
        {
        <tr>
            <td>@enrollment.Student.LastName</td>
            <td>@enrollment.Student.IndexNumber</td>
            <td>@enrollment.Subject.Name</td>
            <td>@enrollment.Grade</td>
            <td>@enrollment.Instructor.LastName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@enrollment.IdEnrollment">Edit</a> |
                <a asp-action="Details" asp-route-id="@enrollment.IdEnrollment">Details</a> |
                <a asp-action="Delete" asp-route-id="@enrollment.IdEnrollment">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.IdStudent">Create New</a>
</p>