@page
@using RazorPagesMovie.Helpers
@model RazorPagesMovie.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Movies";
}

<p>
    <a class="btn btn-success" asp-page="Create">Add new movie</a>
</p>

<form class="form-inline my-2 my-lg-0">
    <p>
        Genre
        <select class="form-control form-control-sm mb-4 ml-2 mr-4 mt-4" aria-label=".form-select-lg example"
                name="genreTitle"
                asp-for="CurrentFilter" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Sort
        <select class="form-control form-control-sm mb-4 ml-2 mr-4 mt-4" aria-label=".form-select-lg example"
                name="sortBy"
                asp-for="CurrentSort" asp-items="Model.SortOptions">
        </select>
        <input class="form-control mr-sm-2" type="search"
               placeholder="Search" aria-label="Search"
               name="searchString" value="@Model.CurrentSearch">
        <button class="btn btn-outline-success my-2 my-sm-0"
                type="submit" value="Filter">
            Search
        </button>
    </p>
</form>

<p style="font-family: Garamond; font-size: 20px;">Number of movies found: @Model.MoviesCount</p>

<div class="card-columns">
    @foreach (var movie in Model.Movies)
    {
        <div class="card">
            <img class="card-img-top" src="~/images/@movie.Image" alt="Card image cap" style="height: 200px;" />
            <div class="card-body">
                <h5 class="card-title" style="font-family: 'Times New Roman', 'Times, serif;'">@movie.Title</h5>
                <div style="display: flex">
                    <div>
                        <blockquote class="blockquote card-text">
                            <p class="card-text text-secondary" style="font-family: 'Courier New';">@movie.Genre.GenreTitle</p>
                        </blockquote>
                        <a class="btn btn-info details-btn" style="margin-top: 15px;"
                           asp-page="./Details" asp-route-id="@movie.ID">See details</a>
                    </div>
                    <div class="ml-auto">
                        <p class="card-text text-right" style="font-family: Georgia">Rating: @movie.Rating</p>
                        <p class="card-text text-right" style="font-family: Georgia">Price: @movie.Price $</p>
                        <p class="card-text"><small class="text-muted">Release: @movie.ReleaseDate.ToString("dd-MM-yyyy")</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.Movies.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Movies.HasNextPage ? "disabled" : "";
}

<div class="mt-md-4">
    <a asp-page="./Index"
       asp-route-sortBy="@Model.CurrentSort"
       asp-route-genreTitle="@Model.CurrentFilter"
       asp-route-searchString="@Model.CurrentSearch"
       asp-route-pageIndex="@(Model.Movies.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>

    <a asp-page="./Index"
       asp-route-sortBy="@Model.CurrentSort"
       asp-route-genreTitle="@Model.CurrentFilter"
       asp-route-searchString="@Model.CurrentSearch"
       asp-route-pageIndex="@(Model.Movies.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
</div>
