@model Player

@{
    ViewData["Title"] = "Index";
}

<h1>List of players</h1>
<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Birthdate</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var player in (IEnumerable<Player>) ViewBag.Players)
        {
        <tr>
            <td>@player.LastName</td>
            <td>@player.FirstName</td>
            <td>@player.BirthDate</td>
            <td>@player.Team.Name</td>
        </tr>
        }
    </tbody>
</table>
<h2>Add Player</h2>
<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" type="text" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" type="text" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate"></label> 
        <input class="form-control" type="date" asp-for="BirthDate" />
    </div>
    <div class="form-group">
        <label asp-for="IdTeam"></label>
        <select asp-for="IdTeam"
                class="form-control"
                asp-items="@(new SelectList(@ViewBag.Teams,"IdTeam","Name"))"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Add player" />
    </div>
</form>

