@model Subject

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(subject => subject.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(subject => subject.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(subject => subject.Hours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(subject => subject.Hours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(subject => subject.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(subject => subject.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayFor(subject => subject.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(subject => subject.Credits)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSubject">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>