@model IEnumerable<DeansOffice.Models.Instructor>

@{
    ViewData["Title"] = "Index";
}

<h3>Instructors</h3>

<form asp-action="Index" method="get">
    <div class="form-actions no-color mt-4">
        <p>
            <div class="d-flex">
                <div class="form-outline search-input">
                    <input type="text" class="form-control input" placeholder="Search instructor"
                           name="SearchString" value="@ViewData["CurrentSearch"]" />
                </div>
                <button type="submit" value="Search" class="btn btn-outline-dark ml-2 mr-2">
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-outline-dark" asp-action="Index"> <i class="fa fa-sync-alt"></i> </a>
            </div>
        </p>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" 
                   asp-route-sortBy="@ViewData["FnameSort"]"
                   asp-route-searchString="@ViewData["CurrentSearch"]">
                    @Html.DisplayNameFor(model => model.FirstName) <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortBy="@ViewData["LnameSort"]"
                   asp-route-searchString="@ViewData["CurrentSearch"]">
                    @Html.DisplayNameFor(model => model.LastName) <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortBy="@ViewData["HiredateSort"]"
                   asp-route-searchString="@ViewData["CurrentSearch"]">
                    @Html.DisplayNameFor(model => model.HireDate) <i class="fa fa-sort"></i>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.InstructorId">Edit</a>
                <a class="btn btn-outline-info ml-4" asp-action="Details" asp-route-id="@item.InstructorId">Details</a>
                <a class="btn btn-outline-danger ml-4" asp-action="Delete" asp-route-id="@item.InstructorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-primary mt-4" asp-action="Create">Add Instructor</a>
</p>