@model IEnumerable<DeansOffice.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h3>Departments</h3>

<table class="table mt-lg-4 table-bordered">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortBy="@ViewData["NameSort"]">
                    @Html.DisplayNameFor(model => model.Name) <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortBy="@ViewData["BudgetSort"]">
                    @Html.DisplayNameFor(model => model.Budget) <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortBy="@ViewData["DateSort"]">
                    @Html.DisplayNameFor(model => model.StartDate) <i class="fa fa-sort"></i>
                </a>        
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortBy="@ViewData["AdminSort"]">
                    @Html.DisplayNameFor(model => model.Administrator) <i class="fa fa-sort"></i>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FullName)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a>
                <a class="btn btn-outline-info ml-4" asp-action="Details" asp-route-id="@item.DepartmentId">Details</a>
                <a class="btn btn-outline-danger ml-4" asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-primary mt-4" asp-action="Create">Add Department</a>
</p>