@page
@model RazorPagesMovie.Pages.Genres.IndexModel

@{
    ViewData["Title"] = "Genres";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortBy="@Model.TitleSort">
                    @Html.DisplayNameFor(model => model.Genre[0].GenreTitle)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortBy="@Model.NumOfMoviesSort">
                    @Html.DisplayNameFor(model => model.Genre[0].Movies)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Genre) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movies.Count)
            </td>
            <td>
                <a class="btn btn-outline-warning"
                   asp-page="./Edit" asp-route-id="@item.GenreId">Edit</a>
                <a class="btn btn-outline-info"
                   asp-page="./Details" asp-route-id="@item.GenreId">Details</a>
                <a class="btn btn-outline-danger"
                   asp-page="./Delete" asp-route-id="@item.GenreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-success"
       asp-page="Create">Add new genre</a>
</p>

