@page
@model RazorPagesMovie.Pages.Genres.IndexModel

@{
    ViewData["Title"] = "Genres";
}

<form>
    <p>
        <select asp-for="SortQuery" asp-items="Model.SortOptions">
            <option value="">All</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0 ml-lg-4" type="submit">Sort</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].GenreTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].Movies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Genre) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movies.Count)
            </td>
            <td>
                <a class="btn btn-outline-warning"
                   asp-page="./Edit" asp-route-id="@item.GenreId">Edit</a>
                <a class="btn btn-outline-info"
                   asp-page="./Details" asp-route-id="@item.GenreId">Details</a>
                <a class="btn btn-outline-danger"
                   asp-page="./Delete" asp-route-id="@item.GenreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-primary"
       asp-page="Create">Add new genre</a>
</p>

